body {
   background-color: #F5F5F5;
   color:#000000;
   font-family: 'Abel', sans-serif;
}

h5 {
   margin: 10px 0;
   font-weight: bold;
   display: inline-block;
}

/*---------PAGE SETTINGS-----------------------------------*/

section {
   padding-bottom: 50px;
}

.container-bg {
   padding-right: 15px;
   padding-left: 15px;
   margin-right: auto;
   margin-left: auto;
}


.inline-block {
   display: inline-block;
}

.inline {
   display: inline;
}

.text-center {
   text-align: center;
}

.header-text {
   margin-top: 30px;
   margin-bottom: 15px;
  
}

.menu-dropdown {
   background-color: rgba(255, 255, 255, 0.8);
   padding: 20px;
 margin-bottom: 10px;
}

.counter-menu {
   background-color: rgba(255, 255, 255, 0.8);
  
}


.menu-header {
   background-color:#000000;
   border-bottom: 2px solid grey;
   margin-top: 20px;
   color: #FFF;
   padding-top: 10px;
}

.chart-outer-container {
   overflow: hidden;
   border: 1px solid #000;
}


@media (max-width: 1165px) {
   .chart-outer-container {
      overflow-x: scroll;
   }
}


/*/////////////////////MENU SELECTORS//////////////////////////////////////*/

#area-selector {
   float: none !important;
}

#type-selector {
   float: none !important;
}

#year-selector {
   float: none !important;
}



/*--------------BUTTONS---------------------------*/

.reset-button {
   color: #FFF;
   text-decoration: none;
   font-weight: bold;
   opacity: .8;
   display: inline-block;
   padding: 5px 10px;
   position: fixed;
   background-color: #ff6000;
   right: 30px;
   bottom: 30px;
   z-index: 2;
   border-radius: 5px;
}

.reset-button:focus {
   text-decoration: none;
   color: #FFF;
}


.reset-button:hover {
   background-color: #ce601e;
   opacity: 1;
   color: #FFF;
   text-decoration: none;
}

.scrollToTop{
   color: #FFF;
   text-decoration: none;
   font-weight: bold;
   opacity: .8;
   display: inline-block;
   padding: 5px 10px;
   position: fixed;
   background-color: #ff6000;
   right: 30px;
   bottom: 80px;
   z-index: 2;
   border-radius: 5px;
}

.scrollToTop:focus {
   text-decoration: none;
   color: #FFF;
}
.scrollToTop:hover{
   background-color: #ce601e;
   opacity: 1;
   color: #FFF;
   text-decoration: none;
}

/*/////////////////////Incident Counter///////////////////////////////////////*/

.dc-data-count-l {
   font-size: 55px;
   padding: 16px 115px;
   color: #ff6000;
}

.dc-data-count-s {
   font-size: 30px;
   color: #0f4d93;
}

.dc-data-count-text {
   font-size: 12px;
}

/*--------CHART SETTINGS---------------*/

.info-container-hidden {  /*in jquery for question icon on hover: remove description-container-hidden and add description-container-show*/
   display: none;
   font-size: 12px;
}

.info-container-show {  /*in jquery for question icon on hover: remove description-container-hidden and add description-container-show*/
   position: absolute;
   background-color: #000;
   display: block;
   z-index: 2;
   border-radius: 10px;
   transform: translate(-100%, 0%);
   width: 250px;
   padding: 5px;
}

.info-container {
   display: inline-block;
   position: absolute;
   right: 30px;
   margin-top: 10px;
   color: #FFF;
}


.dc-chart {
   background-color: transparent;
}

/* Rotate labels on graphs */
.text .x.axis text {
   transform: rotate(60deg);
   font-weight: bold;
}

/* label colors */
.dc-chart g.row text {
   fill: black;
   font-weight: bold;
}


/* grid line */
.dc-chart .grid-line line {
   stroke: #000;
}

text .y-axis-label .y-label {
   font-weight: bold !important;
}


.x-axis-label,
.y-axis-label {
   font-weight: bold;
}


.chart_display {
   position: absolute;
   z-index: 1;
}

.text .x.axis text {
   text-anchor: start !important;
   transform: rotate(60deg);
   fill: #000;
   font-weight: bold;
}

/*--------FOOTER TEXT---------------*/

.footer-text {
   font-weight: bold;
   font-size:14px;
}

.author-text {
   font-size:20px;
   font-weight: bold;
}

