


/*--------------------------------------default settings*/

.bg_container {
 
   padding-bottom: 50px;
   /*background-image: url("../images/fire_high_res.jpg");*/
   background-image: url("../images/fire_dept_doors.jpg");
   background-size: contain;
   background-attachment: fixed;
   background-position: top;
   
}

