body {
   /*background-color: #5f0a0a;*/
   background-color: #F5F5F5;
   /*color: #FFF;*/
   
   color:#000000;
   font-family: 'Abel', sans-serif;
}





/*---------PAGE SETTINGS-----------------------------------*/

section {
   padding-bottom: 50px;
  /* background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))
   url("../images/fire_high_res.jpg");
   background-size: contain;
   background-attachment: fixed;
   background-position: top;
*/
}

.container-bg {
   padding-right: 15px;
   padding-left: 15px;
   margin-right: auto;
   margin-left: auto;
}



.inline-block {
   display: inline-block;
}

.inline {
   display: inline;
}

.text-center {
   text-align: center;
}

.header-text {
   margin-top: 30px;
   margin-bottom: 15px;
  
}


.menu-dropdown {
   background-color: rgba(255, 255, 255, 0.8);
   padding: 20px;
 margin-bottom: 10px;
}

.counter-menu {
   background-color: rgba(255, 255, 255, 0.8);
  
}


.menu-header {
   /*background-color: #ff9a18d6;*/
   /* background-color: #fcff18cf;*/
  /* background-color: #ffed18cc;*/
   background-color:#000000;
   border-bottom: 2px solid grey;
   margin-top: 20px;
   color: #FFF;
   padding-top: 10px;
}

.chart-outer-container {
   overflow: hidden;
   border: 1px solid #000;
}

/*
@media (max-width: 1165px) {
   .chart-outer-container {
      overflow-x: scroll;
   }
}
*/

/*/////////////////////MENU SELECTORS//////////////////////////////////////*/

#area-selector {
   float: none !important;
}

#type-selector {
   float: none !important;
}

#year-selector {
   float: none !important;
}



/*--------------BUTTONS---------------------------*/

.reset-button {
   color: #FFF;
   text-decoration: none;
   font-weight: bold;
   opacity: .8;
   display: inline-block;
   padding: 5px 10px;
   position: fixed;
   background-color: #ff6000;
   right: 30px;
   bottom: 30px;
   z-index: 2;
   border-radius: 5px;
}

.reset-button:focus {
   text-decoration: none;
   color: #FFF;
}


.reset-button:hover {
   background-color: #ce601e;
   opacity: 1;
   color: #FFF;
   text-decoration: none;
}

.scrollToTop{
   color: #FFF;
   text-decoration: none;
   font-weight: bold;
   opacity: .8;
   display: inline-block;
   padding: 5px 10px;
   position: fixed;
   background-color: #ff6000;
   right: 30px;
   bottom: 80px;
   z-index: 2;
   border-radius: 5px;
}

.scrollToTop:focus {
   text-decoration: none;
   color: #FFF;
}
.scrollToTop:hover{
   background-color: #ce601e;
   opacity: 1;
   color: #FFF;
   text-decoration: none;
}



/*/////////////////////Incident Counter///////////////////////////////////////*/

.dc-data-count-l {
   font-size: 55px;
   padding: 16px 115px;
   color: #0f4d93;
}

.dc-data-count-s {
   font-size: 30px;
   color: #0f4d93;
}

.dc-data-count-text {
   font-size: 12px;
}

/*--------CHART SETTINGS---------------*/

.dc-chart {
   background-color: transparent;
}

/* Rotate labels on graphs */
.text .x.axis text {
   transform: rotate(60deg);
   font-weight: bold;
}

/* label colors */
.dc-chart g.row text {
   fill: black;
   font-weight: bold;
}


/* grid line */
.dc-chart .grid-line line {
   stroke: #000;
}

text .y-axis-label .y-label {
   font-weight: bold !important;
}



.x-axis-label,
.y-axis-label {
   font-weight: bold;
}


.chart_display {
   position: absolute;
   z-index: 1;
}



.text .x.axis text {
   text-anchor: start !important;
   transform: rotate(60deg);
   fill: #000;
   font-weight: bold;
}


.footer-text {
   color:#FFF;
}

.author-text {
   
}

