
.navbar-default {
	background-image: none;
	margin-bottom: 0;
}

.section-heading, #Area {
	display: inline-block;	
	float: none;
	margin: 0;
}

.section-heading {
	margin-bottom: 50px;
}

#Area{
	margin-left: 15px;
}

.number-box {
	margin-right: 75px;
}



.custom-chart {
	margin-bottom: 40px;
}

.section {
	border-bottom: 1px solid #e6e6e6;
	padding: 30px 0;
}

.section-paragraph {
	line-height: 1.2;
}
