
body {
   background-color: black;
   color: #000;
   font-family: "titillium web", sans-serif;
}

@media (max-width: 767px) {
   body {
      width: 415px;
   }
}

/*--------------------------------------default settings*/

section {
   padding-bottom: 50px;
   background-image: url("../images/police.jpg");
   background-size: contain;
   background-attachment: fixed;
   background-position: top;
}

.container-custom {
   padding-right: 15px;
   padding-left: 15px;
   margin-right: auto;
   margin-left: auto;
}

@media (min-width: 1400px) {
   .container-custom {
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
      width: 1400px;
   }
}

.inline-block {
   display: inline-block;
}

.text-center {
   text-align: center;
}

.bgc-w {
   background-color: rgba(255, 255, 255, 0.8);
   padding: 20px 0;
}

.chart-head {
   background-color: rgb(31, 119, 180);
   border-bottom: 2px solid gray;
   margin-top: 20px;
}

.reset-margin-top {
   margin-top: 0px;
   padding: 0;
}



/*---------------------------------------Buttons*/

button {
   border-radius: 5px;
   background-color: gray;
   color: white;
}

.reset-button {
   color: #000;
   text-decoration: none;
   font-weight: bold;
   opacity: .8;
   display: inline-block;
   padding: 5px 10px;
   position: fixed;
   background-color: rgba(128, 128, 128, .8);
   right: 30px;
   bottom: 30px;
   z-index: 2;
   border-radius: 5px;
}

.reset-button:focus {
   text-decoration: none;
   color: #000;
}


.reset-button:hover {
   background-color: rgba(128, 128, 128, 1);
   opacity: 1;
   color: #000;
   text-decoration: none;
}


.button-hide-container {
   display: inline-block;
   margin-left: 15px;
   float: left;
   margin-top: 5px;
   position: absolute;
   left: 30px;
   z-index: 1;
}

.button-show-container {
   display: none;
   margin-left: 15px;
}

.description-container-hidden {  /*in jquery for question icon on hover: remove description-container-hidden and add description-container-show*/
   display: none;
   font-size: 12px;
}

.description-container-show {  /*in jquery for question icon on hover: remove description-container-hidden and add description-container-show*/
   position: absolute;
   background-color: rgba(255, 255, 255, .95);
   display: block;
   z-index: 2;
   border-radius: 10px;
   transform: translate(-100%, 0%);
   width: 250px;
   padding: 5px;
}

.question-answer-container {
   display: inline-block;
   position: absolute;
   right: 30px;
   margin-top: 10px;
   color: black;
}

#pie-chart-4-legend svg{
   width: 250px;
}

.info-button {
   padding: 2.5px 20px;
}

.info {
   position: absolute;
   background-color: rgba(0, 0, 0, .5);
   left: 0;
   right: 0;
   top: 57px;
   bottom: 0;
   z-index: 1;
}

.inner-info-container {
   display: inline-block;
   padding: 20px 10px;
   margin: 30px;
   background-color: rgba(255, 255, 255, .8);
   transform: translateY(150%);
   border-radius: 10px;
}
@media (max-width: 991px) {
   .inner-info-container {
   transform: translateY(50%);
}
}

/*-----------------------------------------------headings*/

h1 {
   margin: 20px auto 0px auto;
   color: white;
}

h5 {
   margin: 10px 0;
   font-weight: bold;
   display: inline-block;
}

/*------------------------------------------------headings*/

/*-------------------------------dc chart default settings*/

.dc-chart {
   background-color: transparent;
}

.text .x.axis text {
   text-anchor: start !important;
   transform: rotate(60deg);
   fill: #000;
   font-weight: bold;
}

.dc-chart g.row text {
   fill: black;
   font-weight: bold;
}

.dc-chart .pie-slice {
   fill: black;
   font-weight: bold;
}

.dc-chart .grid-line line {
   stroke: #000;
}

text .y-axis-label .y-label {
   font-weight: bold !important;
}

.empty-chart {
   display: none;
}

.x-axis-label,
.y-axis-label {
   font-weight: bold;
}

.dc-chart rect.bar {}

/*----------------------------------dc chart default settings*/

/*/////////////////////Suburb selector///////////////////////////////////////*/

#suburb-selector-1 {
   float: none !important;
}

/*/////////////////////Offence Counter///////////////////////////////////////*/

.offence-counter-number {
   font-size: 50px;
   padding: 16px 50px;
}
/*/////////////////////Offence 3 bar chart///////////////////////////////////////*/
@media (max-width: 767px) {
   .offence-3-margin-top {
   margin-top: -20px
}
}

/*/////////////////////Suburb chart Bar Chart///////////////////////////////////////*/

.suburb-chart-outer-container {
   overflow: hidden;
   overflow-x: scroll;
   border: 1px solid #000;
   padding-left: 30px
}

/*/////////////////////timeline chart///////////////////////////////////////*/

@media (max-width: 1133px) {
   .line-graph-column {
      overflow: hidden;
      overflow-x: scroll;
      padding: 0 0;
   }
}

#line-chart-8 {
   margin-left: 30px
}

/*/////////////////////Day Percentages///////////////////////////////////////*/

.days-container {
   padding-top: 80px;
   text-align: left;
   background-color: transparent;
   width: 180px;
}

.day-text {
   display: inline-block;
   font-weight: bold;
   display: inline-block;
   margin-bottom: 0;
   color: black;
}

.day-percent {
   float: none !important;
   color: black;
   display: inline-block;
}

.day {

   width: 15px;
   height: 15px;
   display: inline-block;
   margin-left: 15px;
   margin-right: 10px;
}

.monday {
   background-color: blue;
}

.tuesday {
   background-color: red;
}

.wednesday {
   background-color: green;
}

.thursday {
   background-color: purple;
}

.friday {
   background-color: #000;
}

.saturday {
   background-color: brown;
}

.sunday {
   background-color: orange;
}

.chart-outer-container {
   overflow: hidden;
   border: 1px solid #000;
   
}

@media (max-width: 1133px) {
   .chart-outer-container {
      overflow-x: scroll;
   }
}


@media (min-width: 0) and (max-width: 1200px) {
   .days-container {
      padding-top: 20px;
      width: 90%;
      text-align: left;
      background-color: transparent;
   }

   .inline-block-max-1200 {
      display: inline-block;
   }
}

/*/////////////////////Day Percentages///////////////////////////////////////*/

/*/////////////////////Footer///////////////////////////////////////*/

footer p {
   font-size: 12px;
   color: gray;

}

.github-image {
   height: 30px;
   width: 30px;
   margin-right: 15px;
}

.creator-container p {
   font-size: 16px;
   color: #fff;
}

#disclaimer-link {
   cursor: pointer;
}
.disclaimer-hidden {
   display: none;
}

.disclaimer-show {
   background-color: #fff;
   border-radius: 10px;
   display: inline-block;
   position: absolute;
   min-width: 200px;
   max-width: 500px;
   margin: 0 auto;
   right: 0;
   left: 0;
   padding: 10px;
   transform: translateY(-100%);
   z-index: 3;
}

.disclaimer-heading {
   text-align: center;
   margin-bottom:10px;
}

#disclaimer-button {
   margin: 0 auto;
   padding: 0 5px;
}


/*/////////////////////Load screen///////////////////////////////////////*/

#load_screen {
   background: #000;
   opacity: 1;
   position: fixed;
   z-index: 10;
   top: 0px;
   width: 100%;
   height: 100%;
   text-align: center;
}

.loading {
   color: #fff;
   width: 120px;
   height: 24px;
   margin: 300px auto;
   font-size: 24px;
   font-weight: bold;
   animation-name: font-fade-in-out;
   animation-direction: alternate;
   animation-duration: 2s;
   animation-timing-function: ease-in-out;
   animation-iteration-count: infinite;
   animation-play-state: running;
}

@keyframes font-fade-in-out {
   from {
      color: rgba(255, 255, 255, 1);
   }
   to {
      color: rgba(255, 255, 255, .1);
   }
}


